@media (min-width:640px) { body {font-size:1rem;} }
@media (min-width:960px) { body {font-size:1.2rem;} }
@media (min-width:1100px) { body {font-size:1.5rem;} }


* {box-sizing: border-box;}
body {
  background-image: url("");
  color: #003049;
  font-family: Arial, sans-serif; 
  margin: 0;
  padding: 40px;}

.mySlides {display: none;}

img {vertical-align: middle; width: 100%;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

header::before {
  text-align: center;
  background-image: url("images\headerBackground.JPG");
  opacity: 0.3;
}

