body {
  background-image: url('./images/background.jpg');
  background-repeat: repeat-x;
  background-size: cover;
  text-align: center;
}

#header {
  background: url('./images/headerBackground.jpeg');
  background-repeat: no-repeat;
  background-size: 500px;
}


#slideshow {
  position: fixed;
  top: 700px;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

ul {
  list-style-type: none; /* This removes the bullet points */
  padding: 0;
  margin: 0 auto; /* This centers the list */
  text-align: center; /* This centers the text */
}

/* li {
  display: inline-block;
} */

header {
  color: aliceblue;
  outline-color: black;
  outline-width: 4px;
  font-weight: bold;
  font-family: 'Amita';
}