* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.transparent-header {
  background-image: url('images\headerBackground.JPG'); /* Add your background image path */
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Slightly opaque on hover */
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

header {
  text-align: center;
  background-image: url("images\headerBackground.JPG");
  opacity: 0.3;
}

